*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677,#4e085f);
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding:  40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    color: #002765;
}

.todo-app h2 img {
    width: 40px;
    vertical-align: middle;
    margin-left: 10px;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding: 10px 15px;
    margin-top: 20px;
    width: 100%;
    gap: 12px;
}
input{
    flex: 1;
    border: none;
    outline:none;
    background: transparent;
    padding: 12px 20px 12px 20px;
}
button {
    background: #ff5945;
    color: #fff;
    border: none;
    outline: none;
    padding: 12px 25px;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
}
    button:hover {
    background: #e14b37;
}

    ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    }
    ul li::before{
        content: '';
        position: absolute;
        height: 28px;
        width: 28px;
        border-radius: 50%;
        background-image: url(unchecked.webp);
        background-size: cover;
        background-position: center;
        top: 12px;
        left: 8px;
    }
    ul li.checked{
        text-decoration: line-through;
        color: #555;
    }
    ul li.checked::before{
        background-image: url(checked.webp);
    }
   ul li span {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 20px;
    color: #555;
    border-radius: 50%;
    cursor: pointer;
}

    ul li span:hover{
        background: #ff5945;
        color: #fff;
        border-radius: 50%;
    }